---
import "../styles/global.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>まどか記録帳</title>
  </head>
  <body>
    <header class="site-header">
      <div class="header-inner">
       <h1 class="site-title">まどか記録帳</h1>
       <nav class="nav">
        <a href="/" class="nav-link">TOP</a>
        <a href="/同人誌制作手引" class="nav-link">同人誌制作手引</a>
        <a href="/Others" class="nav-link">Others</a>
      <div> 
      </nav>
    </header>

    <footer class="site-footer">
      <p>&copy; 2025 Madoka. All rights reserved.</p>
    </footer>

    <div class="page-wrapper">
      <slot />
    </div>
  </body>
</html>

<style>
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    height: 100%;
    background-color: #7a6892;
    color: black;
    overflow-x: hidden;
  }

  .site-header {
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: right; 
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-title {
    font-size: 1.5rem;
    margin: 0;
  }

  .site-footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: white;
  }

  .nav {
    display: inline-flex; 
    gap: 1em;
    font-weight: bold;
  }

  .nav-link {
    text-decoration: none;
    color: #444;
    transition: color 0.2s;
  }

  .nav-link:hover {
    color: #7a6892;
  }

  .page-wrapper {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px 30px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
</style>
