---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>まどか記録帳</title>
  </head>
  <body>
    <div class="page-wrapper">
      <p>これはレイアウトから表示されるテキストです</p>
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; /* 薄いグレー背景に変更 */
    color: black;
  }
  .page-wrapper {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px 30px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
</style>
